createdAt: "2018-10-17T06:24:40.815Z"
updatedAt: "2018-10-17T06:28:43.552Z"
type: "SNIPPET_NOTE"
folder: "de5e4e5a0fe5f5b33def"
title: "sql"
description: "sql"
snippets: [
  {
    name: "activiti 清库"
    mode: "text"
    content: '''
      
      select * from spm.act_ru_variable where PROC_INST_ID_ in (SELECT PROC_INST_ID_ FROM spm.act_ru_variable where LONG_=1009710437232951297);
      
      select * from spm.act_ru_task where PROC_INST_ID_ in (SELECT PROC_INST_ID_ FROM spm.act_ru_variable where LONG_=1009710437232951297);
      
      select * from spm.act_ru_identitylink where PROC_INST_ID_ in (SELECT PROC_INST_ID_ FROM spm.act_ru_variable where LONG_=1009710437232951297);
      select * from spm.act_ru_identitylink where TASK_ID_ in (select ID_ from spm.act_ru_task where PROC_INST_ID_ in (SELECT PROC_INST_ID_ FROM spm.act_ru_variable where LONG_=1009710437232951297));
      
      select * from spm.act_ru_execution where PROC_INST_ID_ in (SELECT PROC_INST_ID_ FROM spm.act_ru_variable where LONG_=1009710437232951297);
      
      
      
      
      
      SELECT * FROM spm.act_hi_varinst where LONG_=1009710437232951297;
      
      SELECT * FROM spm.act_hi_taskinst where PROC_INST_ID_ in (SELECT PROC_INST_ID_ FROM spm.act_hi_varinst where LONG_=1009710437232951297);
      
      SELECT * FROM spm.act_hi_identitylink where PROC_INST_ID_ in (SELECT PROC_INST_ID_ FROM spm.act_hi_varinst where LONG_=1009710437232951297);
      SELECT * FROM spm.act_hi_identitylink where TASK_ID_ in (SELECT ID_ FROM spm.act_hi_taskinst where PROC_INST_ID_ in (SELECT PROC_INST_ID_ FROM spm.act_hi_varinst where LONG_=1009710437232951297));
      
      SELECT * FROM spm.act_hi_actinst where PROC_INST_ID_ in (SELECT PROC_INST_ID_ FROM spm.act_hi_varinst where LONG_=1009710437232951297);
      
      SELECT * FROM spm.act_hi_detail where PROC_INST_ID_ in (SELECT PROC_INST_ID_ FROM spm.act_hi_varinst where LONG_=1009710437232951297);
      
      
      
      delete from tele.ACT_RU_VARIABLE;
      delete from tele.ACT_RU_IDENTITYLINK;
      delete from tele.ACT_RU_TASK;
      delete from tele.ACT_RU_EXECUTION;
      
      
      delete from tele.ACT_HI_DETAIL;
      delete from tele.ACT_HI_VARINST;
      delete from tele.ACT_HI_IDENTITYLINK;
      delete from tele.ACT_HI_TASKINST;
      delete from tele.ACT_HI_ACTINST;
      delete from tele.ACT_HI_PROCINST;
      
    '''
  }
  {
    name: ""
    mode: "Plain Text"
    content: '''
      SELECT * FROM tele.crm_large_object1;
      
      select * from tele.crm_large_object1 where datetime1='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object1 where datetime2='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object1 where datetime3='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object1 where datetime4='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object1 where datetime5='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object1 where datetime6='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object1 where datetime7='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object1 where datetime8='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object1 where datetime9='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object1 where datetime10='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      
      
      select * from tele.crm_large_object2 where datetime1='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object2 where datetime2='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object2 where datetime3='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object2 where datetime4='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object2 where datetime5='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object2 where datetime6='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object2 where datetime7='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object2 where datetime8='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object2 where datetime9='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object2 where datetime10='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      
      
      select * from tele.crm_large_object3 where datetime1='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object3 where datetime2='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object3 where datetime3='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object3 where datetime4='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object3 where datetime5='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object3 where datetime6='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object3 where datetime7='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object3 where datetime8='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object3 where datetime9='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_large_object3 where datetime10='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      
      
      select * from tele.crm_standard_object10 where update_date > '2018-07-10 00:00:00' limit 10;
      select * from tele.crm_standard_object10 where datetime2='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object10 where datetime3='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object10 where datetime4='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object10 where datetime5='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object10 where datetime6='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object10 where datetime7='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object10 where datetime8='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object10 where datetime9='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object10 where datetime10='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      
      
      select * from tele.crm_standard_object12 where datetime1='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object12 where datetime2='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object12 where datetime3='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object12 where datetime4='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object12 where datetime5='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object12 where datetime6='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object12 where datetime7='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object12 where datetime8='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object12 where datetime9='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      select * from tele.crm_standard_object12 where datetime10='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      
      
      update tele.crm_large_object1 set datetime1=null where datetime1='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      update tele.crm_large_object1 set datetime2=null where datetime2='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      update tele.crm_large_object1 set datetime3=null where datetime3='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      update tele.crm_large_object1 set datetime4=null where datetime4='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      update tele.crm_large_object1 set datetime5=null where datetime4='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      update tele.crm_large_object1 set datetime6=null where datetime4='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      update tele.crm_large_object1 set datetime7=null where datetime4='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      update tele.crm_large_object1 set datetime8=null where datetime4='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      
      
      update tele.crm_standard_object12 set datetime1=null where datetime1='0000-00-00 00:00:00' and update_date > '2018-07-10 00:00:00';
      
      
      
      
    '''
  }
  {
    name: ""
    mode: "Plain Text"
    content: "alter table tele.crm_large_object3 modify  update_date DATETIME DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP;"
  }
  {
    name: ""
    mode: "Plain Text"
    content: '''
      UPDATE spm.spm_task_import_bak AS one,
          (SELECT 
              business_key, post_id, MIN(row_num) AS num
          FROM
              spm.spm_task_import_bak
          GROUP BY business_key , post_id) AS two 
      SET 
          one.row_num = two.num
      WHERE
          one.business_key = two.business_key
              AND one.post_id = two.post_id;
              
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
