createdAt: "2018-10-17T06:34:34.517Z"
updatedAt: "2018-10-17T06:34:38.216Z"
type: "MARKDOWN_NOTE"
folder: "de5e4e5a0fe5f5b33def"
title: "tele"
content: '''
  tele
  客户更名申请 customerReName
  客户转归属申请 customerChangeBelong (从储备库转到正式库)
  //联系人禁用申请 contactPersonDisable 不做 直接通过
  客户禁用申请 customerDisable
  提交优秀录音  goodSoundRecord
  
  
  客户禁用申请表单 disableApplyForm
  
  
  
  Approve:审批
  Reject:拒绝
  
  spm
  岗位审批 postApprove
  http://app.activiti.ui-tech.cn/activiti-app/editor/index.html#/processes/e5f49b58-ca88-403d-af9c-080ecbd1584f
  
  //考核树审批 assesstreeApprove
  http://app.activiti.ui-tech.cn/activiti-app/editor/index.html#/processes/d1b78868-0d83-4cbc-bf0d-3bd4b2a4ee1f
  
  任务审批 taskApprove
  http://app.activiti.ui-tech.cn/activiti-app/editor/index.html#/processes/23655433-40b6-4131-8795-2fc104b6d47a
  
  //订单调整审批 orderAdjustApprove
  http://app.activiti.ui-tech.cn/activiti-app/editor/index.html#/processes/8083600b-21e9-4252-87d2-fa1a92636e2b
  
  //非计算指标审批 notCalculateIndicatorApprove
  http://app.activiti.ui-tech.cn/activiti-app/editor/index.html#/processes/78169636-ffa5-41ca-ad93-c8eb07bb02d2
  
  //虚拟订单审批 virtualOrderApprove
  http://app.activiti.ui-tech.cn/activiti-app/editor/index.html#/processes/df7fac8b-550e-4771-af27-aaf9a2f95e88
  
  
  
  
  
  流程编辑页 process identifier 设置为英文后 processdefinitionid才不为汉字
  
  
  合计 位置
  指标任务是设置在岗位上 还是不同分区的岗位上
  
  合计是合计不同分区的岗位 还是什么
  
  某人兼岗某个岗位 此岗位上是不是没有其他人
  
  合计是否要上传人自己算
  
  
'''
tags: []
isStarred: false
isTrashed: false
