createdAt: "2018-10-17T06:22:18.418Z"
updatedAt: "2018-10-17T06:22:23.875Z"
type: "SNIPPET_NOTE"
folder: "de5e4e5a0fe5f5b33def"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: '''
      ALTER TABLE `tele`.`crm_field_change_log_detail` 
      ADD COLUMN `trace` SMALLINT(2) NULL DEFAULT 0 AFTER `action`;
      
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
