createdAt: "2018-10-17T06:19:00.887Z"
updatedAt: "2018-10-17T06:19:04.717Z"
type: "MARKDOWN_NOTE"
folder: "de5e4e5a0fe5f5b33def"
title: "/usr/bin/java -server -verbose:gc -Xloggc:./gc.log -XX:+PrintGCDetails -XX:+PrintGCTimeStam ps -XX:+UseG1GC -XX:MaxGCPauseMillis=200 -XX:ConcGCThreads=8 -Xms1G -Xmx1G -jar lenovo-uitech-auth.jar --spring.profiles.active=dcgprod"
content: '''
  /usr/bin/java -server -verbose:gc -Xloggc:./gc.log -XX:+PrintGCDetails -XX:+PrintGCTimeStam ps -XX:+UseG1GC -XX:MaxGCPauseMillis=200 -XX:ConcGCThreads=8 -Xms1G -Xmx1G -jar lenovo-uitech-auth.jar --spring.profiles.active=dcgprod
  
  
  /usr/bin/java -server -verbose:gc -Xloggc:./gc.log -XX:+PrintGCDetails -XX:+PrintGCTimeStamps -XX:+UseG1GC -XX:MaxGCPauseMillis=200 -XX:ConcGCThreads=8 -Xms1G -Xmx1G -jar lenovo-uitech-auth.jar --spring.profiles.active=dcgprod
  
  
  
  c42cb89f0f4f46b3fe2d21e65bdd8d2f
'''
tags: []
isStarred: false
isTrashed: false
