createdAt: "2018-10-17T06:20:44.945Z"
updatedAt: "2018-10-17T06:20:48.562Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "Cleanup exited processes: docker rm $(docker ps -q -f status=exited)"
content: '''
  1. Cleanup exited processes: docker rm $(docker ps -q -f status=exited)
  2.  
  3. Cleanup dangling volumes: docker volume rm $(docker volume ls -qf dangling=true)
  4.  
  5. Cleanup dangling images: docker rmi $(docker images --filter "dangling=true" -q --no-trunc) 
'''
tags: []
isStarred: false
isTrashed: false
