createdAt: "2021-05-23T13:44:07.778Z"
updatedAt: "2021-05-23T13:45:33.895Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "kubernetes"
tags: []
content: '''
  kubernetes
  
  Kubernetes fails to start (hangs in starting phase)
  
  I resolve this issue by delete ./kube/config
  
  
  
  kubectl taint nodes --all node-role.kubernetes.io/master-
  
  
  systemctl stop firewalld && systemctl disable firewalld
  
  swapoff -a
  sed -i.bak '/swap/s/^/#/' /etc/fstab
  
  setenforce 0
  sed -i 's/^SELINUX=enforcing$/SELINUX=disabled/' /etc/selinux/config
  
  
  yum install git
  git clone https://gitee.com/songtielei/k8s-for-docker-desktop.git
  
  sudo yum install -y yum-utils && sudo yum-config-manager --add-repo https://mirrors.aliyun.com/docker-ce/linux/centos/docker-ce.repo
  
  sudo yum install -y yum-utils && sudo yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo && sudo yum-config-manager --add-repo https://mirrors.aliyun.com/docker-ce/linux/centos/docker-ce.repo
  
  sudo yum install -y docker-ce docker-ce-cli containerd.io
  
  sudo mkdir /etc/docker
  cat <<EOF | sudo tee /etc/docker/daemon.json
  {
    "registry-mirrors": ["https://registry.cn-hangzhou.aliyuncs.com"],
    "exec-opts": ["native.cgroupdriver=systemd"],
    "log-driver": "json-file",
    "log-opts": {
      "max-size": "100m"
    },
    "storage-driver": "overlay2"
  }
  EOF
  
  sudo systemctl enable docker
  sudo systemctl daemon-reload
  sudo systemctl restart docker
  
  sudo modprobe br_netfilter
  
  echo 1 > /proc/sys/net/ipv4/ip_forward
  
  cat <<EOF | sudo tee /etc/modules-load.d/k8s.conf
  br_netfilter
  EOF
  
  cat <<EOF | sudo tee /etc/sysctl.d/k8s.conf
  net.bridge.bridge-nf-call-ip6tables = 1
  net.bridge.bridge-nf-call-iptables = 1
  EOF
  sudo sysctl --system
  
  
  cat <<EOF | sudo tee /etc/yum.repos.d/kubernetes.repo
  [kubernetes]
  name=Kubernetes
  baseurl=https://mirrors.aliyun.com/kubernetes/yum/repos/kubernetes-el7-x86_64/
  enabled=1
  gpgcheck=1
  repo_gpgcheck=1
  gpgkey=https://mirrors.aliyun.com/kubernetes/yum/doc/yum-key.gpg https://mirrors.aliyun.com/kubernetes/yum/doc/rpm-package-key.gpg
  EOF
  
  sudo yum install kubectl kubelet kubeadm
  sudo systemctl enable kubelet
  
  kubeadm config images pull
  
  kubeadm init \\
    --apiserver-advertise-address=172.20.40.18 \\
    --kubernetes-version v1.21.0 \\
    --pod-network-cidr=10.244.0.0/16
  
  kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml
  
  
  kubeadm init --kubernetes-version v1.21.0 --image-repository registry.cn-hangzhou.aliyuncs.com/google_containers --service-cidr=10.10.0.0/16 --pod-network-cidr=10.122.0.0/16
  
  kubeadm config --image-repository registry.aliyuncs.com/google_containers images pull
  
  
  
  sudo kubeadm init --kubernetes-version v1.21.0 --service-cidr=10.10.0.0/16 --pod-network-cidr=10.244.0.0/16
  
    mkdir -p $HOME/.kube
    sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
    sudo chown $(id -u):$(id -g) $HOME/.kube/config
  
  
  
  
  
  kubeadm join 172.17.108.179:6443 --token p75p9l.it3p1617evui4c6w \\
  	--discovery-token-ca-cert-hash sha256:ef6859fda889963b2e1f05bd3131363227dc58e1de3db3e9805eabefefacca5e
  
  
  
  kubectl get pod --all-namespaces
  
  
  hostnamectl set-hostname k8s-master
  
  
  kubeadm init --kubernetes-version=v1.21.0 \\
  --apiserver-advertise-address=172.20.40.18 \\
  --image-repository registry.aliyuncs.com/google_containers \\
  --service-cidr=10.1.0.0/16 \\
  --pod-network-cidr=10.244.0.0/16
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
