createdAt: "2018-10-17T06:22:56.262Z"
updatedAt: "2018-10-17T06:23:01.018Z"
type: "SNIPPET_NOTE"
folder: "de5e4e5a0fe5f5b33def"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: '''
      SELECT DISTINCT
          a.PROC_INST_ID_,
          SUBSTRING_INDEX(c.PROC_DEF_ID_, ':', 1) AS deploymentKey,
          (SELECT 
                  b.TEXT_
              FROM
                  tele.ACT_HI_VARINST b
              WHERE
                  a.PROC_INST_ID_ = b.PROC_INST_ID_
                      AND b.NAME_ = 'id') AS '客户ID',
          (SELECT 
                  b.TEXT_
              FROM
                  tele.ACT_HI_VARINST b
              WHERE
                  a.PROC_INST_ID_ = b.PROC_INST_ID_
                      AND b.NAME_ = 'initiator') AS '申请人ID',
          (SELECT 
                  b.TEXT_
              FROM
                  tele.ACT_HI_VARINST b
              WHERE
                  a.PROC_INST_ID_ = b.PROC_INST_ID_
                      AND b.NAME_ = 'customerName') AS '客户名称',
          (SELECT 
                  b.TEXT_
              FROM
                  tele.ACT_HI_VARINST b
              WHERE
                  a.PROC_INST_ID_ = b.PROC_INST_ID_
                      AND b.NAME_ = 'targetName') AS '目标名称',
          (SELECT 
                  b.TEXT_
              FROM
                  tele.ACT_HI_VARINST b
              WHERE
                  a.PROC_INST_ID_ = b.PROC_INST_ID_
                      AND b.NAME_ = 'originBelong') AS '原归属',
          (SELECT 
                  b.TEXT_
              FROM
                  tele.ACT_HI_VARINST b
              WHERE
                  a.PROC_INST_ID_ = b.PROC_INST_ID_
                      AND b.NAME_ = 'targetBelong') AS '目标归属',
          CASE
              WHEN
                  (SELECT 
                          b.TEXT_
                      FROM
                          tele.ACT_HI_VARINST b
                      WHERE
                          a.PROC_INST_ID_ = b.PROC_INST_ID_
                              AND b.NAME_ = 'outcomes') = 'approve'
              THEN
                  '通过'
              WHEN
                  (SELECT 
                          b.TEXT_
                      FROM
                          tele.ACT_HI_VARINST b
                      WHERE
                          a.PROC_INST_ID_ = b.PROC_INST_ID_
                              AND b.NAME_ = 'outcomes') = 'reject'
              THEN
                  '拒绝'
              ELSE '未审核'
          END AS '审批状态',
          c.START_TIME_ AS '提交时间',
          c.END_TIME_ AS '审批时间',
          CASE
              WHEN
                  (SELECT 
                          b.TEXT_
                      FROM
                          tele.ACT_HI_VARINST b
                      WHERE
                          a.PROC_INST_ID_ = b.PROC_INST_ID_
                              AND b.NAME_ = 'outcomes') = 'reject'
              THEN
                  (SELECT 
                          b.TEXT_
                      FROM
                          tele.ACT_HI_VARINST b
                      WHERE
                          a.PROC_INST_ID_ = b.PROC_INST_ID_
                              AND b.NAME_ = 'reason')
          END AS '拒绝原因'
      FROM
          tele.ACT_HI_VARINST a
              LEFT JOIN
          tele.ACT_HI_PROCINST c ON a.PROC_INST_ID_ = c.PROC_INST_ID_;
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
