createdAt: "2019-02-13T13:06:30.040Z"
updatedAt: "2019-02-13T14:11:02.157Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "因式分解"
tags: []
content: '''
  ## 因式分解
  ma + mb + mc = m(a + b + c)
  把一个多项式化为几个整式的积的形式 叫做把这个多项式因式分解 也叫做把这个多项式分解因式
  
  因式分解与整式乘法相反
  
  ### 提公因式法
  ma + mb + mc = m(a + b + c)
  如果多项式的各项有公因式 可以把这个公因式提到括号外面 将多项式写成因式乘积的形式 这种分解因式的方法叫做提公因式法
  
  ### 运用公式法
  如果把乘法公式反过来 就可以用来把某些多项式分解因式 这种方法叫做运用公式法
  
  #### 平方差公式
  $a^2$ - $b^2$ = (a + b)(a - b)
  
  #### 完全平方公式
  $a^2$ + 2ab + $b^2$ = $(a + b)^2$
  $a^2$ - 2ab + $b^2$ = $(a - b)^2$
  
  #### 立方和与立方差公式
  $a^3$ + $b^3$ = (a + b)($a^2$ - ab + $b^2$)
  $a^3$ - $b^3$ = (a - b)($a^2$ + ab + $b^2$)
  
  ### 分组分解法
  am + an + bm + bn
  a(m + n) + b(m + n)
  (a + b)(m + n)
  这种利用分组来分解因式的方法叫做分组分解法
  
  #### 分组后能直接提公因式
  #### 分组后能直接运用公式
  
  ### 十字相乘法
  
  $$
  x^2 + (a + b)x + ab = (x + a)(x + b)
  $$
  $$
  a_1a_2x^2 + (a_1c_2 + a_2c_1)x + c_1c_2
  =(a_1x + c_1)(a_2x + c_2)
  $$
  
  ### 配方法
  $$
  x^2 + 6x - 16 
  $$
  $$
  = x^2 + 2 \\ast 3 \\ast x + 3^2 - 3^2 -16
  $$
  $$
  = (x + 3)^2 - 5^2
  $$
  $$
  = (x + 3 + 5)(x + 3 -5)
  $$
  $$
  = (x + 8)(x - 2)
  $$
  
  ## 分式
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
