createdAt: "2018-10-17T06:24:05.460Z"
updatedAt: "2018-10-17T06:24:09.362Z"
type: "SNIPPET_NOTE"
folder: "de5e4e5a0fe5f5b33def"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: '''
      update spm.ACT_HI_ACTINST ahc, spm.ACT_ID_USER aiu set ahc.ASSIGNEE_=aiu.FIRST_ where ahc.ASSIGNEE_=aiu.ID_;
      
      update spm.ACT_HI_COMMENT ahc, spm.ACT_ID_USER aiu set ahc.USER_ID_=aiu.FIRST_ where ahc.USER_ID_=aiu.ID_;
      
      
      update spm.ACT_HI_DETAIL ahc, spm.ACT_ID_USER aiu set ahc.TEXT_=aiu.FIRST_ where ahc.TEXT_=aiu.ID_;
      
      update spm.ACT_HI_IDENTITYLINK ahc, spm.ACT_ID_USER aiu set ahc.USER_ID_=aiu.FIRST_ where ahc.USER_ID_=aiu.ID_;
      
      update spm.ACT_HI_PROCINST ahc, spm.ACT_ID_USER aiu set ahc.START_USER_ID_=aiu.FIRST_ where ahc.START_USER_ID_=aiu.ID_;
      
      update spm.ACT_HI_TASKINST ahc, spm.ACT_ID_USER aiu set ahc.OWNER_=aiu.FIRST_ where ahc.OWNER_=aiu.ID_;
      
      update spm.ACT_HI_TASKINST ahc, spm.ACT_ID_USER aiu set ahc.ASSIGNEE_=aiu.FIRST_ where ahc.ASSIGNEE_=aiu.ID_;
      
      update spm.ACT_HI_VARINST ahc, spm.ACT_ID_USER aiu set ahc.TEXT_=aiu.FIRST_ where ahc.TEXT_=aiu.ID_;
      
      
      update spm.ACT_RU_EXECUTION ahc, spm.ACT_ID_USER aiu set ahc.START_USER_ID_=aiu.FIRST_ where ahc.START_USER_ID_=aiu.ID_;
      
      update spm.ACT_RU_IDENTITYLINK ahc, spm.ACT_ID_USER aiu set ahc.USER_ID_=aiu.FIRST_ where ahc.USER_ID_=aiu.ID_;
      
      update spm.ACT_RU_TASK ahc, spm.ACT_ID_USER aiu set ahc.OWNER_=aiu.FIRST_ where ahc.OWNER_=aiu.ID_;
      
      update spm.ACT_RU_TASK ahc, spm.ACT_ID_USER aiu set ahc.ASSIGNEE_=aiu.FIRST_ where ahc.ASSIGNEE_=aiu.ID_;
      
      
      update spm.ACT_RU_VARIABLE ahc, spm.ACT_ID_USER aiu set ahc.TEXT_=aiu.FIRST_ where ahc.TEXT_=aiu.ID_;
      
      
      
      SELECT count(*) FROM spm.act_id_user;
      
      
      
      delete from spm.ACT_ID_USER where ID_ not in ('admin', '943391320996638721');
      
      INSERT INTO spm.ACT_ID_USER (ID_, REV_, FIRST_, LAST_, EMAIL_, PWD_) SELECT code, 1, name, real_name, email, 'password' FROM spm.acc_user;
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
