createdAt: "2018-10-17T06:35:28.693Z"
updatedAt: "2018-10-17T06:35:32.282Z"
type: "MARKDOWN_NOTE"
folder: "de5e4e5a0fe5f5b33def"
title: "SELECT id FROM acc_user_role GROUP BY user_id, role_id HAVING count(id)  1;"
content: '''
  SELECT id FROM acc_user_role GROUP BY user_id, role_id HAVING count(id) > 1;
  
  SELECT * FROM acc_user_role WHERE id in (SELECT id FROM acc_user_role GROUP BY user_id, role_id HAVING count(id) > 1);
  
  判断是否有任务确认 若没有 直接写入task
'''
tags: []
isStarred: false
isTrashed: false
