createdAt: "2018-10-18T05:07:53.779Z"
updatedAt: "2018-10-18T05:09:50.655Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "homebrew"
content: '''
  homebrew
  
  ant	
  youtube-dl
  tmux
  mpv	
  
  
  zsh
  scroll reverser
  oald9
  iterm
  docker
  dash
  vim
  sourcetree
  xcode
  keepassx
  ShadowsocksX-NG
  
  node 
  nvm
  
  thunder
  wechat
  qq
  
  Scroll reverser
  Keepassx
  Source tree 不安装命令行
  Item
  tmux
  Oh my zsh
  xcode command line tools
  
  dash
  Docker
  
  
  todo.txt
  passstore
  
  Task Warrior
'''
tags: []
isStarred: false
isTrashed: false
