createdAt: "2018-10-18T05:20:35.600Z"
updatedAt: "2018-10-18T05:20:42.120Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "shadowsocks"
content: '''
  shadowsocks
  
  {
    "server":"us02.cnode.xyz",
    "server_port":25234,
    "local_address":"127.0.0.1",
    "local_port":1081,
    "password":"mg744qhhsk",
    "timeout":600,
    "method":"aes-256-cfb"
  }
'''
tags: []
isStarred: false
isTrashed: false
