createdAt: "2018-10-17T06:23:29.856Z"
updatedAt: "2018-10-17T06:23:33.767Z"
type: "SNIPPET_NOTE"
folder: "de5e4e5a0fe5f5b33def"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: '''
      SELECT DISTINCT
          a.PROC_INST_ID_, substring_index(c.PROC_DEF_ID_, ':', 1) as deploymentKey,
              (SELECT 
                  b.TEXT_
              FROM
                  tele.ACT_HI_VARINST b
              WHERE
                  a.PROC_INST_ID_ = b.PROC_INST_ID_
                      AND b.NAME_ = 'id') AS '客户ID',
                          (SELECT 
                  b.TEXT_
              FROM
                  tele.ACT_HI_VARINST b
              WHERE
                  a.PROC_INST_ID_ = b.PROC_INST_ID_
                      AND b.NAME_ = 'initiator') AS '申请人ID',
          (SELECT 
                  b.TEXT_
              FROM
                  tele.ACT_HI_VARINST b
              WHERE
                  a.PROC_INST_ID_ = b.PROC_INST_ID_
                      AND b.NAME_ = 'customerName') AS '客户名称',
      	    (SELECT 
                  b.TEXT_
              FROM
                  tele.ACT_HI_VARINST b
              WHERE
                  a.PROC_INST_ID_ = b.PROC_INST_ID_
                      AND b.NAME_ = 'targetName') AS '目标名称',
      	    (SELECT 
                  b.TEXT_
              FROM
                  tele.ACT_HI_VARINST b
              WHERE
                  a.PROC_INST_ID_ = b.PROC_INST_ID_
                      AND b.NAME_ = 'originBelong') AS '原归属',
      	    (SELECT 
                  b.TEXT_
              FROM
                  tele.ACT_HI_VARINST b
              WHERE
                  a.PROC_INST_ID_ = b.PROC_INST_ID_
                      AND b.NAME_ = 'targetBelong') AS '目标归属'
      FROM
          tele.ACT_HI_VARINST a left join tele.ACT_HI_PROCINST c on a.PROC_INST_ID_=c.PROC_INST_ID_;
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
