createdAt: "2018-10-17T05:41:50.738Z"
updatedAt: "2018-10-17T06:16:21.747Z"
type: "MARKDOWN_NOTE"
folder: "de5e4e5a0fe5f5b33def"
title: "账号信息"
content: '''
  # 账号信息
  ## wifi
  yangwl5
  6789-abcd
  7890-abcd
  2345-abcd
  LCRX-DS-5G   密码：LCRX-666666
  
  账户名：zhaoxin17，密码：qaz258456%
  
  http://mail.ui-tech.com.cn
  songtl@ui-tech.com.cn
  6Ho3r7NtEt
  
  http://jira.ui-tech.cn
  songtl
  123456
  
  http://git.ui-tech.cn/users/sign_in
  songtl@ui-tech.com.cn
  12345678
  
  http://jenkins.ui-tech.cn/
  songtl
  123456
  
  云片网：https://www.yunpian.com/   联系人：郭志鹏  186 1832 9186
  注册信息：18911777287
  密码：1qaz2WSX
  
  https://ap6.salesforce.com/0010K00001hNHe1
  zhangzhenk@lenovo.com.tele
  1234%abc
  1234-abcd
  
  阿里云
  ssh service@39.106.180.188 -p 22111   6yhnJI(ol.
  10.0.1.240
  
  
  // 本地
  ssh service@10.99.7.149
  6yhnJI(ol.
  
  10.100.50.27
  
  sqlServer
  服务器地址：10.99.110.150
  数据库名称：数据库KH2018
  账户：a_lms
  密码：1234%abc
  张倩
  
  ssh service@39.106.180.188 -p 22111
  
  https://xops.xpaas.lenovo.com/xops-dashboard/dash/home
  tangming5
  3edcxsw^
  
  sudo docker run -d -p 5601:5601 -p 9200:9200  -p 5044:5044 --restart=always -m 4G  -v /data/elk/data:/data/lib/elasticsearch -v /data/elk/conf/logstash-logback.conf:/etc/logstash/conf.d/02-beats-input.conf -v /data/elk/conf/logstash-es.conf:/etc/logstash/conf.d/30-output.conf --name elk sebp/elk
  
'''
tags: []
isStarred: false
isTrashed: false
