createdAt: "2018-10-18T05:14:44.286Z"
updatedAt: "2018-10-18T05:14:51.922Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "Windows"
content: '''
  Windows
  
  7zip
  notepad++
  maven
  shadowsocks
'''
tags: []
isStarred: false
isTrashed: false
