createdAt: "2018-10-17T06:18:32.682Z"
updatedAt: "2018-10-17T06:18:37.335Z"
type: "MARKDOWN_NOTE"
folder: "de5e4e5a0fe5f5b33def"
title: "lenovo  http://gitlab.xpaas.lenovo.com/DCGSPM/SPM.git (fetch)"
content: '''
  lenovo  http://gitlab.xpaas.lenovo.com/DCGSPM/SPM.git (fetch)
  lenovo-pcg      http://gitlab.xpaas.lenovo.com/spm/spm.git (fetch)
  
  
  dcg changeurl 9.6
'''
tags: []
isStarred: false
isTrashed: false
