createdAt: "2021-05-23T13:35:33.397Z"
updatedAt: "2021-05-23T13:35:38.074Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "redis"
tags: []
content: '''
  redis
  
  redis自2.8.0之后版本提供Keyspace Notifications功能，允许客户订阅Pub/Sub频道，以便以某种方式接收影响Redis数据集的事件
'''
linesHighlighted: []
isStarred: false
isTrashed: false
