createdAt: "2018-10-17T06:23:49.110Z"
updatedAt: "2018-10-17T06:23:53.026Z"
type: "SNIPPET_NOTE"
folder: "de5e4e5a0fe5f5b33def"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: "INSERT INTO viprental_activiti_dev.ACT_ID_USER (ID_, REV_, FIRST_, LAST_, EMAIL_, PWD_) SELECT code, 1, name, real_name, email, 'password' FROM bsf.acc_user WHERE id =56760;"
  }
]
tags: []
isStarred: false
isTrashed: false
