createdAt: "2021-05-23T13:44:43.936Z"
updatedAt: "2021-05-23T13:45:00.362Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "http-flv"
tags: []
content: '''
  http-flv
  
  sudo docker run -d -p 1935:1935 -p 8888:8888 -v /data/nginx-rtmp/nginx.conf:/etc/nginx/nginx.conf -v /data/nginx-rtmp/hls.html:/data/nginx-rtmp/hls.html --name nginx-rtmp tiangolo/nginx-rtmp:latest-2020-08-16
  
  ffmpeg -re -i orange.mp4 -vcodec libx264 -acodec aac -f flv rtmp://47.94.227.24:1935/live/home
  
  
  
  
  http://123.56.187.202:8888/live?port=1935&app=live&stream=12345678
  
  
  启动命令
  sudo docker run -d -p 1935:1935 -p 8888:80 -v /data/nginx-rtmp/flv/rtmp.conf:/etc/nginx/conf.d/rtmp/rtmp.conf -v /data/nginx-rtmp/flv/http-flv.conf:/etc/nginx/conf.d/http/http-flv.conf -v /data/nginx-rtmp/flv/nginx.conf:/etc/nginx/nginx.conf --name nginx-rtmp-flv mugennsou/nginx-http-flv
  
  使用的docker 项目地址
  https://github.com/mugennsou/http-flv.git
  
  软件版本
  nginx:1.16.1-alpine
  nginx_http_flv_module: 1.2.6
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
