createdAt: "2021-03-03T06:06:56.285Z"
updatedAt: "2021-03-03T06:07:24.648Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "web security"
tags: []
content: '''
  web security
  
  会话固定攻击（session fixation attack）
  [会话固定攻击（session fixation attack） - 追风的浪子 - 博客园](https://www.cnblogs.com/echojson/p/12805102.html)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
