createdAt: "2018-10-16T15:28:57.559Z"
updatedAt: "2018-10-17T05:38:37.275Z"
type: "SNIPPET_NOTE"
folder: "62bfa63ef150bf29ae1f"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
