createdAt: "2021-01-30T07:44:39.746Z"
updatedAt: "2021-01-30T07:45:36.271Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "GPG"
tags: []
content: '''
  GPG
  
  sec => ‘secret key'
  ssb => ‘secret subkey'
  pub => ‘public key'
  sub => 'public subkey'
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
