createdAt: "2018-10-18T05:24:32.699Z"
updatedAt: "2018-10-18T05:24:35.201Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "CA (Certificate Authority)"
content: '''
   CA (Certificate Authority)
  
  公钥基础设施（public key infrastructure，缩写为PKI
'''
tags: []
isStarred: false
isTrashed: false
