createdAt: "2021-01-30T07:45:59.754Z"
updatedAt: "2021-01-30T07:46:02.242Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "./rsync_tmbackup.sh pi@raspberrypi:/media/pi/WD/evatlsong /Volumes/repository/backup/evatlsong"
tags: []
content: "./rsync_tmbackup.sh pi@raspberrypi:/media/pi/WD/evatlsong /Volumes/repository/backup/evatlsong"
linesHighlighted: []
isStarred: false
isTrashed: false
