createdAt: "2018-10-17T06:29:56.879Z"
updatedAt: "2018-10-17T06:31:10.851Z"
type: "MARKDOWN_NOTE"
folder: "de5e4e5a0fe5f5b33def"
title: "设置下载文件名"
content: '''
  nginx 配置
  
  sudo service nginx restart
  
  upstream filetele {
      ip_hash;
      server 10.122.29.1:8091 fail_timeout=0;
      keepalive 64;
  }
  
    server {
          listen       80;
          listen       [::]:80 ;
          server_name  file.tele.lenovo.com.cn;
          location / {
                          client_max_body_size                0;
                          proxy_connect_timeout 300s;
                          proxy_send_timeout   900;
                          proxy_read_timeout   900;
                          proxy_buffer_size    32k;
                          proxy_buffers      4 32k;
                          proxy_busy_buffers_size 64k;
                          proxy_redirect     off;
                          proxy_hide_header  Vary;
                          proxy_set_header   Accept-Encoding '';
                          proxy_set_header   Host   $host:$server_port;
                          proxy_set_header   Referer $http_referer;
                          proxy_set_header   Cookie $http_cookie;
                          proxy_set_header   X-Real-IP  $remote_addr;
                          proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
                          proxy_headers_hash_max_size 51200;
                          proxy_headers_hash_bucket_size 6400;
                          proxy_intercept_errors on;
                          proxy_pass http://filetele/;
  
  			# 设置下载文件名
                          if ($request_uri ~* ^.*\\/(.*)\\.(xls|xlsx|doc|docx|apk)(\\?n=([^&]+))$) {
                              # proxy_hide_header Content-Disposition;
                              add_header Content-Disposition "attachment;filename=$arg_n.$2";
                          }
  
          }
  
         # error_page 404 /404.html;
         #     location = /40x.html {
         # }
  
         # error_page 500 502 503 504 /50x.html;
         #     location = /50x.html {
         # }
      }
'''
tags: []
isStarred: false
isTrashed: false
