createdAt: "2021-05-23T13:34:03.156Z"
updatedAt: "2021-05-23T13:34:05.694Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "Rabbitmq"
tags: []
content: '''
  Rabbitmq
  
  Exchange queue 写在 application.yml 文件里
  @RabbitListener(
          bindings = @QueueBinding(
                  value = @Queue(value = "${log.info.queue}", durable = "true"),
                  exchange = @Exchange(value = "${log.exchange}", type = ExchangeTypes.TOPIC),
                  key = "${log.info.binding-key}"
          )
  )
  public void infoLog(Message message, Channel channel) throws Exception {
      String msg = new String(message.getBody());
      log.info("infoLogQueue 收到的消息为: {}", msg);
      try {
          // 这里写各种业务逻辑
          channel.basicAck(message.getMessageProperties().getDeliveryTag(), false);
      } catch (Exception e) {
          channel.basicNack(message.getMessageProperties().getDeliveryTag(), false, false);
      }
  }
  
  
  本地调试时 可以自己改个名字
  消费消息时 如果异常 requeue 设为false 让它重新入队 重试三次后再放入死信队列
  
  消费消息时要幂等 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
