createdAt: "2018-10-18T05:15:26.733Z"
updatedAt: "2018-10-18T05:15:29.280Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "app"
content: '''
  app
    pages
      A-B
        1
        2
      C-D
      definition
        english
    static
      js
      media
      style
    index.html
  
  
  Other results
  
  
  抓取
  写入
  按照26字母 26个目录
  每个单词再分成目录
  单词下
'''
tags: []
isStarred: false
isTrashed: false
