createdAt: "2018-10-18T05:13:02.511Z"
updatedAt: "2019-08-15T12:35:04.049Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "activiti"
content: '''
  activiti
  
  owner 是 A 把某个任务交给 B 待办后 A 就是此任务的 owner, B 变成了 assines
  
  history查询 包括运行中的流程
  
  history level 设为 full 流程历史中才有 流程变量
  
  org.activiti.app.rest.runtime.RelatedContentResource涉及到了contentstorage
  DMN是英文Decision Model and Notation的缩写，直译意为决策模型与图形
  
  form variable scope
  
  HistoricTaskInstanceQuery query = historyService.createHistoricTaskInstanceQuery();
  // 对查询性能影响特别大
  query.includeProcessVariables();
  
  // 改用循环中查询
  ```
  Map<String, Object> variable;
      // 判断任务是否结束 改用不同查询方法
      if (task.getEndTime() != null) {
          HistoricVariableInstanceQuery historicVariableInstanceQuery = historyService.createHistoricVariableInstanceQuery();
          List<HistoricVariableInstance> historicVariableInstanceList = historicVariableInstanceQuery.processInstanceId(task.getProcessInstanceId()).list();
          variable = new HashMap<>();
          for (HistoricVariableInstance restVariable : historicVariableInstanceList) {
              variable.put(restVariable.getVariableName(), restVariable.getValue());
          }
      } else {
          variable = taskService.getVariables(task.getId());
      }
  ```
  
  liquibase: Waiting for changelog lock
  启动时会先获得以下三张表的锁 若有其他锁 要先删除 
  act_fo_databasechangeloglock
  act_dmn_databasechangeloglock
  databasechangeloglock
  
  
  ```
  CREATE TABLE `hibernate_sequences` (
      `sequence_name` varchar(255) DEFAULT NULL,
      `sequence_next_hi_value` int(11) DEFAULT NULL
  ) ENGINE=InnoDB DEFAULT CHARSET=utf8
  ```
  
  act_id_user改为视图后 重启activiti报错 因为activiti发现没有act_id_user表 所以试图创建失败无法启动 要先改回去 
  ```
  CREATE 
  VIEW `act_id_user` AS
      SELECT 
          `acc_user`.`code` AS `ID_`,
          1 AS `REV_`,
          `acc_user`.`name` AS `FIRST_`,
          `acc_user`.`real_name` AS `LAST_`,
          `acc_user`.`email` AS `EMAIL_`,
          'password' AS `PWD_`
      FROM
          `acc_user`
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
linesHighlighted: []
