createdAt: "2018-10-17T07:51:08.359Z"
updatedAt: "2018-10-17T08:04:32.650Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "wiki.js"
content: '''
  wiki.js
  [GitHub - Requarks/wiki: Wiki.js | A modern, lightweight and powerful wiki app built on NodeJS, Git and Markdown](https://github.com/Requarks/wiki)
  ## issue
  页面导航看不明白
  不知道如何链接到其他条目
  ## usage
  ```
  docker run -d --name wikijs-mongo mongo:3
  docker run -d --name wikijs --link wikijs-mongo:mongodb -p 3000:3000 -v /Users/evatlsong/wiki/config.yml:/var/wiki/config.yml  requarks/wiki
  ```
  
  config.yml 配置
  ```
  # ---------------------------------------------------------------------
  # Full public path to the site, without the trailing slash
  # ---------------------------------------------------------------------
  # INCLUDE CLIENT PORT IF NOT 80/443!
  # 这是页面内链接 端口要和外面访问的端口一致
  host: http://localhost:3000
  
  # ---------------------------------------------------------------------
  # Port the main server should listen to (80 by default)
  # ---------------------------------------------------------------------
  # To use process.env.PORT, comment the line below:
  
  port: 3000 
  ```
'''
tags: []
isStarred: false
isTrashed: false
