createdAt: "2021-05-13T07:33:42.764Z"
updatedAt: "2021-05-13T07:34:09.173Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "虚拟机"
tags: []
content: '''
  虚拟机
  
  host
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
