createdAt: "2018-10-17T06:32:02.793Z"
updatedAt: "2018-10-17T06:32:34.915Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "rsync-time-backup"
content: '''
  rsync-time-backup
  
  ./rsync_tmbackup.sh -p 22 /Users/evatlsong/ui-tech openwrt:/mnt/share/evatlsong/ui-tech /Users/evatlsong/system/script/exclude_file
  
  ./rsync_tmbackup.sh -p 22 /Users/evatlsong/ui-tech openwrt:/mnt/share/evatlsong/ui-tech /Users/evatlsong/system/script/exclude_file
'''
tags: []
isStarred: false
isTrashed: false
