createdAt: "2018-10-17T06:21:33.727Z"
updatedAt: "2018-10-17T06:21:37.762Z"
type: "MARKDOWN_NOTE"
folder: "de5e4e5a0fe5f5b33def"
title: "bin/solr create -c crm_standard_object1"
content: '''
  bin/solr create -c crm_standard_object1
  cp server/solr/core-customer/conf/solrconfig.xml server/solr/crm_standard_object1/conf/
  bin/solr stop
  bin/solr start
  scp crm_standard_object1/* tele@10.122.29.1:/data/solr-7.4.0/server/solr/crm_standard_object1/conf/
'''
tags: []
isStarred: false
isTrashed: false
