createdAt: "2018-10-17T06:27:29.801Z"
updatedAt: "2018-10-17T06:27:36.087Z"
type: "MARKDOWN_NOTE"
folder: "de5e4e5a0fe5f5b33def"
title: "solr dih"
content: '''
  solr dih
  
  solrconfig.xml
  
  <lib dir="${solr.install.dir:../../../..}/dist/" regex="solr-dataimporthandler-.*\\.jar" />
  <lib dir="${solr.install.dir:../../../..}/dist/" regex="mysql-connector-java-.*\\.jar" />
  
  
    <requestHandler name="/dataimport" class="org.apache.solr.handler.dataimport.DataImportHandler">
      <lst name="defaults">
        <str name="config">db-data-config.xml</str>
      </lst>
    </requestHandler>
  
  
  // 注意 class 要用全类名
'''
tags: []
isStarred: false
isTrashed: false
