createdAt: "2018-10-17T06:20:12.654Z"
updatedAt: "2018-10-17T06:20:18.513Z"
type: "MARKDOWN_NOTE"
folder: "2d90bb286c7337ef5d47"
title: "./rsync_tmbackup.sh pi@raspberrypi:/media/pi/WD/evatlsong /Volumes/repository/backup/evatlsong"
content: "./rsync_tmbackup.sh pi@raspberrypi:/media/pi/WD/evatlsong /Volumes/repository/backup/evatlsong"
tags: []
isStarred: false
isTrashed: false
